
@{
    ViewBag.Title = "ConsultaProductosStock";
}


<div class="ConsultaProductosStock">
    <input class="Nombre" />
    <input class="Stock" />
    <button type="submit" class="Buscar btn-success">Buscar</button>
</div>


<div id="ListaProductos"></div>


    <script>
        
        app.ConsultaProductosStockView.Init()
    </script>
